<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=S, initial-scale=1.0">
    <title>Food waste management system</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   
    <ul>
        <li>Home</li>
        <li>About Us</li>
        <li>Login</li>
        <li>Signup</li>
    </ul>
    <h1>
        <p>FEED HOPE</p>
        <P>DONATE FOOD TODAY</P>
    </h1>
    <div class="slogan">
    <h3>Creating a world where no one goes hungry,
        Together we can make sure no plate is empty!</h3>
    <h4>Join us in donating food to make a difference in someone's life</h4>
</div>
    <button type="submit">Donate Now</button>
</body>
</html>